log/*
tmp/*
.rvmrc

app/views/admin/.DS_Store

app/views/admin/.DS_Store

tmp/cache/assets/D54/ED0/sprockets%2F71c9fa01091d432b131da3bb73faf3d4

tmp/cache/assets/D32/A10/sprockets%2F13fe41fee1fe35b49d145bcc06610705

test/functional/.DS_Store

test/.DS_Store

tmp/cache/assets/D32/A10/sprockets%2F13fe41fee1fe35b49d145bcc06610705

spec/views/.DS_Store

spec/routing/.DS_Store

spec/requests/.DS_Store

spec/models/.DS_Store

spec/helpers/.DS_Store

spec/factories/.DS_Store

spec/controllers/.DS_Store

spec/.DS_Store

app/.DS_Store
