log/*
tmp/*
tmp/cache/*
.rvmrc

app/views/admin/.DS_Store

app/views/admin/.DS_Store

test/functional/.DS_Store

test/.DS_Store

spec/views/.DS_Store

spec/routing/.DS_Store

spec/requests/.DS_Store

spec/models/.DS_Store

spec/helpers/.DS_Store

spec/factories/.DS_Store

spec/controllers/.DS_Store

spec/.DS_Store

app/.DS_Store

app/controllers/.DS_Store

.DS_Store

app/views/admin/.DS_Store


db/schema.rb

app/views/admin/.DS_Store

app/views/admin/.DS_Store

db/schema.rb

app/controllers/.DS_Store

app/views/.DS_Store

app/models/arvore_floresta.rb

app/.DS_Store

app/views/.DS_Store

app/views/admin/.DS_Store
