log/*
tmp/*
tmp/cache/*
.rvmrc

app/views/admin/.DS_Store

app/views/admin/.DS_Store

test/functional/.DS_Store

test/.DS_Store

spec/views/.DS_Store

spec/routing/.DS_Store

spec/requests/.DS_Store

spec/models/.DS_Store

spec/helpers/.DS_Store

spec/factories/.DS_Store

spec/controllers/.DS_Store

spec/.DS_Store

app/.DS_Store

app/controllers/.DS_Store

.DS_Store

app/views/admin/.DS_Store

tmp/cache/assets/E62/610/sprockets%2Fa88681eef5ffad2794df8a3ecabb03ac

tmp/cache/assets/E2D/A90/sprockets%2Fc6a80f2cdc019ccf5fb64c84c0ec4c9f

tmp/cache/assets/E0D/D70/sprockets%2F6a7bf6aed63f676cf7f31ddb84c753dc

tmp/cache/assets/C0F/AC0/sprockets%2F06824368ebc05720052b4a26295a2193

db/schema.rb

db/schema.rb
