<h3>Admin - Graus de Extinção</h3>

<%= link_to 'Nova Extinção', new_admin_extincao_path %>
</br></br>
<table width="80%">
  <% for extincao in @extincoes %>
	<tr>
    <td> <%= extincao.nome    %> </td>
    <td><%= link_to 'Editar', edit_admin_extincao_path(extincao) %></td>
    <td><%= link_to 'X', [:admin,extincao], confirm: 'Excluir?', method: :delete %></td>
	</tr>
  <% end %>
</table>