<h3>Admin - Países</h3>

<%= link_to 'Novo País', new_admin_pais_path %>
</br></br>
<table width="80%">
  <% for pais in @paises %>
	<tr>
    <td> <%= pais.nome  %></td> 
    <td><%= link_to 'Editar', edit_admin_pais_path(pais) %></td>
    <td><%= link_to 'X', [:admin,pais], confirm: 'Excluir?', method: :delete %></td>
	</tr>
  <% end %>
</table>
