<h3>Árvore - Partes da Árvore</h3>

			<P>
			<b>No dicionário:</b>
			<br>
			<i>do Lat. arbore - grande vegetal lenhoso, cujos ramos saem a certa altura do tronco</i>
			</p>

			<p>
			<b>Raiz:</b>
			<br>
			Uma vez que a maioria das raízes são subterrâneas e portanto não facilmente visíveis, nossa tendência é
			ignorá-las e desmerecê-las. A primeira raiz do vegetal vem do embrião, chamada de raiz primaria, ou raiz principal.
			Ela pode ser pivotante (cresce principalmente para baixo) ou tabular (cresce principalmente lateralmente). <br>
			A raiz possui órgãos especializados para sustentação, absorção, armazenamento e condução da seiva,
			e é responsável pela retirada de água e nutrientes do solo.<br>
			A água e nutrientes absorvidos compõem a seiva bruta. Essa seiva bruta é transportada,
			da raiz para as folhas pelo xilema (conjunto de vasos encontrados no caule da planta).
			</p>

			<p>
			<b>Caule:</b>
			<br>
			Uma curiosidade é que as plantas primitivas só tinham caule ! Estes são tidos como precursores das
			folhas e assim ancestrais do próprio sistema caulinar.<br>
			O caule promove interligação entre raiz e folha, levando a seiva bruta
			da raiz para as folhas, através de um conjunto de vasos condutores, chamado de xilema,
			e levando a seiva elaborada das folhas até o restante da planta, por um conjunto
			de vasos condutores, chamado de flolema.<br>
			Durante a descida, o floema fornece alimento aos demais órgãos.<br>
			Os troncos das árvores variam em tamanho, forma, textura e cor.<br>
			É do tronco de algumas árvores que é extraída a madeira que usamos em nossas casas, em móveis,
			ferramentas, pisos e até mesmo lápis. É também do tronco de algumas árvores que é
			extraída a matéria prima para fazer o papel - a celulose.<br>
			Comece a pensar quantas árvores são derrubadas para satisfazer nossas necessidades do dia-a-dia, só
			relacionadas ao caule !

			</p>

			<p>
			<b>Folha:</b>
			<br>
			Nas folhas, ocorre a fotossíntese, que é um processo de produção de glicose e oxigênio.
			Este processo tem como um de seus componentes a luz do sol. A luz é formada por feixes de diferentes
			comprimentos onda. Cada comprimento é de uma cor. Essas são as cores primárias.<br>
			Os comprimentos de onda que são absorvidos pelas folhas variam de acordo com as espécies.
			Em geral o comprimento de onda de cor verde não é absorvido pelas folhas, sendo assim refletido,
			dando a coloração verde às folhas.<br>
			A glicose produzida compõe a seiva elaborada conhecida como alimento da planta.
			A seiva elaborada é transportada, das folhas para toda a planta, pelo floema, como vimos a cima.
			<br>
			Também ocorre a transpiração e a perda de água para o meio ambiente na forma de vapor.
			É possível observar névoas em grandes florestas ao amanhecer. Esta névoa nada mais é que a evaporação
			da umidade da floresta. Uma parte desta umidade é produzida através desta transpiração que ocorre em
			cada folha.
			</p>

			<p>
			<b>Flor:</b>
			<br>
			A flor é uma folha modificada do vegetal, de crescimento limitado,
			contendo as estruturas reprodutivas da planta Giniceu (parte feminina), Androceu (parte masculina).<br>
			A pétala funciona como atrativo.Cada espécie evoluiu suas flores em tamanho, forma e cor,
			para se adaptar aos seus determinados polinizadores.
			<br><br>
			Essa evolução garante a perpetuação da espécie, e a biodiversidade através dos polinizadores.<br>
			Biodiversidade, é a diversidade da vida (bio). Com a flor, as Angiospermas adquiriram a capacidade de
			se reproduzirem a partir do cruzamento entre dois indivíduos.
			<br>
			A grande maioria da flores das Angiospermas é hermafrodita, facilitando a autofecundação. Mas a autofecundação
			apresenta desvantagem para as espécies, impedindo a variabilidade de caracteres.
			Para impedir a autofecundação, as flores possuem adaptações que impedem o processo, e facilitam a
			fecundação cruzada (entre flores de indivíduos diferentes), tais como:<br>
			- Hercogamia = alturas diferentes da antera (androceu) e o estigma (giniceu).<br>
			- Protandria = o androceu amadurece antes do gineceu. <br>
			- Protaginia = giniceu amadurece antes do androceu.
			</p>

			<p>
			<b>Fruto:</b>
			<br>
			Ocorrendo a fecundação, o óvulo origina a semente, e o ovário, o fruto. O fruto protege
			as sementes e prepara o solo, facilitando a germinação, os frutos podem ser verdadeiros
			(quando se formarem a partir do ovário, como o abacate); ou falsos
			(quando se formam de outras partes da planta como o caju, maçã, figo, abacaxi e framboesa).
			</p>

			<p>
			<b>Sementes:</b>
			<br>
			A semente é uma estrutura de propagação da planta; é a unidade reprodutiva que dá início a uma nova geração da espécie.
			Esta estrutura contém o embrião e protege-o contra a dessecação, danos mecânicos e ataques de organismos diversos.
			</p>

			<p>
			<b>Fotossíntese:</b>
			<br>
			Os seres fotossintetizantes, que não são apenas as plantas, são autótrofos, isto é,
			produzem seu próprio alimento.<br>
			A fotossíntese é o processo pelo qual a planta transforma a seiva bruta em seiva elaborada - seu alimento!.<br>
			Ela ocorre na folha, utilizando gás carbono (CO2), água (H2O) e luz,
			transforma-os em carboidratos (C6H12O6) e oxigênio (O2), que é liberado na atmosfera.
			Apesar da glicose ser representada como carboidrato	nas células fotossintetizantes,
			o produto mais imediato são carboidratos com 3 carbonos, conhecidos como trioses.<br>
			</p>


