
<table width="98%" border="0" cellspacing="0" align="center">
	<tr>
		<td class="texto_geral" align="center">
			<h3>Lista de Espécies da Flora Ameaçadas de Extinção</h3>
		</td>
 	</tr>
	<tr>
		<td class="texto_geral" align="center">
			Através da Portaria nº 37-N, de 3 de abril de 1992, o IBAMA
			tornou pública a lista oficial de espécies da flora brasileira ameaçada de
			extinção.
		</td>
 	</tr>
	<tr>
		<td class="texto_geral">
			A grande degradação da biodiversidade e dos ecossistemas é uma
			preocupação global, pois causam uma série de problemas ambientais, entre eles
			a perda de funções ambientais e de inúmeras espécies de grande importância
			econômica, estética, científica, genética e ecológica.<br><br>
		</td>
 	</tr>
</table>
<table width="98%" border="1" cellspacing="0" align="center" class="list">
	 <tr bgcolor="#E6E6E6" class="list">
	  <td >Família</td>
	  <td >Nome Científico</td>
	  <td>Nome Vulgar</td>
	  <td >Categoria</td>
	 </tr>
	 <tr >
	  <td
	  >Palmae</td>
	  <td>Acanthococos
	  emensis Toledo</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Aechmea
	  apocalyptica Reitz</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Aechmea
	  blumenavii Reitz</td>
	  <td>gravatá,
	  monjola, bromélia</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Aechmea
	  kleinii Reitz</td>
	  <td>gravatá,
	  monjola, bromélia</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td  >Aechmea
	  pimenti-velosii Reitz</td>
	  <td>gravatá,
	  monjola, bromélia</td>
	  <td>rara</td>
	 </tr>
	 <tr >
	  <td
	  >Lauraceae</td>
	  <td>Aniba
	  roseodora Ducke</td>
	  <td>pau-de-rosa</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td>Araucariaceae</td>
	  <td>Araucaria
	  angustifolia (Bertol)O.
	  Kuntese</td>
	  <td>pinheiro-do-paraná</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Compositae</td>
	  <td>Aspilia
	  grasielae Santos</td>
	  <td>&nbsp;</td>
	  <td>Indeterminada</td>
	 </tr>
	 <tr >
	  <td
	  >Compositae</td>
	  <td>Aspilia
	  paraensis (Huber) Santos</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Compositae</td>
	  <td>Aspilia
	  pohlii Backer</td>
	  <td>&nbsp;</td>
	  <td>Indeterminada</td>
	 </tr>
	 <tr >
	  <td
	  >Compositae</td>
	  <td>Aspilia
	  procumbens Backer</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Anacardiaceae</td>
	  <td>Astronium
	  fraxinifolium Schott</td>
	  <td>gonçalo-alves</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Anacardiaceae</td>
	  <td>Astronium
	  urundeuva (Fr.All.)<font class="font8"> Engl</td>
	  <td>aroeira-do-sertão,
	  aroeira-legítima</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Leguminosae</td>
	  <td>Bauhinia
	  smilacina (Schott)<font class="font8"> Steudel</td>
	  <td>cipó-escada-de-macaco</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Lecythidaceae</td>
	  <td>Bertholletia
	  excelsa HBK</td>
	  <td>castanheira,
	  castanheira-do-brasil</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr>
	  <td
	  >Bromeliaceae</td>
	  <td>Billbergia
	  alfonsi-joannis Reitz</td>
	  <td>poço-de-jacó,
	  gravatá,.monjola,.bromélia</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Leguminosae</td>
	  <td>Bowdickia
	  nitida Spruce ex Benth</td>
	  <td>sucupira,
	  sucupira-da-mata, sucupira-verdadeira</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td>Moraceae</td>
	  <td>Brosimum
	  glaucum Taubert</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td>Moraceae</td>
	  <td>Brosimum
	  glazioui Taubert</td>
	  <td>marmelinho</td>
	  <td>Rara</td>
	 </tr>
	 <tr>
	  <td
	  >Sapotaceae</td>
	  <td>Bumelia
	  obtusifolia Roem et Schult. var. excelsa (DC) Mig</td>
	  <td>quixabeira</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr>
	  <td
	  >Leguminosae</td>
	  <td>Caesalpinia
	  echinata Lam</td>
	  <td>pau-Brasil,
	  pau-pernambuco, ibirapitanga</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Lecythidaceae</td>
	  <td>Cariniana
	  ianeirensis Kunth</td>
	  <td>jequitibá</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Orchidaceae</td>
	  <td>Cattleya
	  schilleriana Reichback</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Zingiberaceae</td>
	  <td>Costus
	  cuspidatus (Nees et Martins). Maas</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Zingiberaceae</td>
	  <td>Costus
	  fragilis Maas</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Zingiberaceae</td>
	  <td>Costus
	  fusiformis Maas</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr>
	  <td
	  >Chrysobalanaceae</td>
	  <td>Coupeia
	  schottii Fritsch</td>
	  <td>oiti-boi</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Leguminosae</td>
	  <td>Dalbergia
	  nigra (Vell.) Fr. All</td>
	  <td>jacarandá-da-bahia</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Dicksoniaceae</td>
	  <td>Dicksonia
	  sellowiana (Presl) Hook</td>
	  <td>samambaiaçu-imperial</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Lauraceae</td>
	  <td>Dicypellium
	  caryophyllatum Nees</td>
	  <td>cravo-do-maranhão,
	  pau-cravo, casca-preciosa</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td>Asclepiadaceae</td>
	  <td>Ditassa
	  arianeae Font. et Schw</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Asclepiadaceae</td>
	  <td>Ditassa
	  maricaensis Font. et Schw</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td>Moraceae</td>
	  <td>Dorstenia
	  arifolioa Lam</td>
	  <td>caapiá,
	  caiapiá, capa-homem, carapiá, contra-erva, figueira-terrestre</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Moraceae</td>
	  <td>Dorstenia
	  cayapia Vell</td>
	  <td>caapiá,
	  caiapiá, caiapiá-verdadeiro</td>
	  <td>Em
	  Perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Moraceae</td>
	  <td>Dorstenia
	  elata Hook</td>
	  <td>caiapiá-grande</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Moraceae</td>
	  <td>Dorstenia
	  ficus Vell</td>
	  <td>contra-erva,
	  figueira-terrestre</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Moraceae</td>
	  <td>Dorstenia
	  fischeri Bureau</td>
	  <td>caiapiá</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Moraceae</td>
	  <td>Dorstenia
	  ramosa (Desv.) Car. et al</td>
	  <td>caiapiá-grande,
	  capa-homem, contra-erva, figueira-da-terra</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Moraceae</td>
	  <td>Dorstenia
	  tenuis Bompl. ex Bur</td>
	  <td>violeta-da-montanha,
	  violeta-montes</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Dyckia
	  cabrerae Smith et Reitz.</td>
	  <td>gravatá,
	  bromélia</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Dyckia
	  distachya Hassler</td>
	  <td>gravatá,
	  bromélia</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Dyckia
	  hatschbachii L.B. Smith</td>
	  <td>gravatá,
	  bromélia</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Dyckia
	  ibiramansis Reitz</td>
	  <td>gravatá,bromélia</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Rutaceae</td>
	  <td>Euxylophora
	  paraensis Huber</td>
	  <td>pau-amarelo,
	  pau-cetim</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Fernseea
	  itatiae (Wawra) Baker</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Asclepiadaceae</td>
	  <td>Gonolobus
	  dorothyanus Font. et Schw.</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Musaceae</td>
	  <td>Heliconia
	  angusta Vell</td>
	  <td>bico-de-guará</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Musaceae</td>
	  <td>Heliconia
	  citrina L. et Em. Santos</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Musaceae</td>
	  <td>Heliconia
	  farinosa Raddi</td>
	  <td>&nbsp;</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr>
	  <td
	  >Musaceae</td>
	  <td>Heliconia
	  fluminensis L. Em. et Em Santos</td>
	  <td>&nbsp;</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr>
	  <td
	  >Musaceae</td>
	  <td>Heliconia
	  lacletteana L. Em. et Em Santos</td>
	  <td>&nbsp;</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Musaceae</td>
	  <td>Heliconia
	  sampaioana L. Em</td>
	  <td>&nbsp;</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr>
	  <td
	  >Balanophoraceae</td>
	  <td>Helosis
	  cayannensis (Swartz) Sprengel var. cayennensis</td>
	  <td>sangue-de-dragão</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr>
	  <td
	  >Chrysobalanaceae</td>
	  <td>Hirtella
	  insignis Briquet et Prance</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Chrysobalanaceae</td>
	  <td>Hirtella
	  parviunguis Prance</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Chrysobalanaceae</td>
	  <td>Hirtella
	  samtosii Prance</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Convolvulaceae</td>
	  <td>Ipomoea
	  carajaensis D. Austin</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Convolvulaceae</td>
	  <td>Ipomoea
	  cavalcantei D. Austin</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Theophrastaceae</td>
	  <td>Jacquinia
	  brasiliensis Mez</td>
	  <td>barbasco,
	  pimenteira, tingui</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Orchidaceae</td>
	  <td>Laelia
	  fidelensis Pabst</td>
	  <td>lelia-de-são-fideli</td>
	  <td>Indeterminada</td>
	 </tr>
	 <tr >
	  <td
	  >Orchidaceae</td>
	  <td>Laelia
	  grandis Lindl. et Paxt</td>
	  <td>lelia-da-bahia</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Orchidaceae</td>
	  <td>Laelia
	  jongheana Reinchbach</td>
	  <td>&nbsp;</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Orchidaceae</td>
	  <td>Laelia
	  lobata (Lindl.) Veitch</td>
	  <td>lelia-da-gávea</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Orchidaceae</td>
	  <td>Laelia
	  perrinii (Lindl.) Paxt</td>
	  <td>lelia-de-perrin</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Orchidaceae</td>
	  <td>Laelia
	  tenebrosa Rolfe</td>
	  <td>lelia-escura</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Orchidaceae</td>
	  <td>Laelia
	  virens Lindl</td>
	  <td>lelia-verde</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Orchidaceae</td>
	  <td>Laelia
	  xanthina Lindl</td>
	  <td>lelia-amarela</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Melastomataceae</td>
	  <td>Lavoisiera
	  itambana DC</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr>
	  <td>Chrysobalanaceae</td>
	  <td>Licania
	  aracaensis Prance</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr>
	  <td>Chrysobalanaceae</td>
	  <td>Licania
	  bellingtonii Prance</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td>Chrysobalanaceae</td>
	  <td>Licania
	  indurata Pilger</td>
	  <td>milho-cozido</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td>Compositae</td>
	  <td>Lomatozona
	  artemisaefolia Baker</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td>Compositae</td>
	  <td>Lychnophora
	  ericoides Mart</td>
	  <td>arnica,
	  candeia</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td>Leguminosae</td>
	  <td>Melanoxylon
	  braunia Schott</td>
	  <td>brauma-preta</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td>Monimiaceae</td>
	  <td>Mollinedia
	  gilgiana Perkins</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td>Monimiaceae</td>
	  <td>Mollinedia
	  glabra Perkins</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td>Monimiaceae</td>
	  <td>Mollinedia
	  longicuspidata Perkins</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Monimiaceae</td>
	  <td>Mollinedia
	  stenophylla Perkins</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Laureceae</td>
	  <td>Ocotea
	  basicordatifolia Vattimo</td>
	  <td>&nbsp;</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Laureceae</td>
	  <td>Ocotea
	  catharinensis Mez</td>
	  <td>canela-preta</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr>
	  <td
	  >Laureceae</td>
	  <td>Ocotea
	  cymbarum H.B.K.</td>
	  <td>óleo-de-nhamuí,
	  inhamuhy, louro-de-inhamuhy, sassafráz</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Laureceae</td>
	  <td>Ocotea
	  langsdorffii Mez</td>
	  <td>canelinha</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Laureceae</td>
	  <td>Ocotea
	  porosa (Nees) Barroso</td>
	  <td>imbuia</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Laureceae</td>
	  <td>Ocotea
	  pretiosa Mez.</td>
	  <td>canela-sassafráz</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Chrysobalanaceae</td>
	  <td>Parinari
	  brasiliensis (Schott) Hook</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Malvaceae</td>
	  <td>Pavonia
	  almifolia St. Hil.</td>
	  <td>guêta</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Euphorbiaceae</td>
	  <td>Phyllantus
	  gladiatus Muell. Arg</td>
	  <td>dracena-da-praia</td>
	  <td>Em
	  Perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Rutaceae</td>
	  <td>Pilocarpus
	  jaborandi Holmes</td>
	  <td>jaborandi,
	  jaborandi-de-pernambuco, arruda-do-mato, jaborandi-branco</td>
	  <td>Em
	  Perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Rutaceae</td>
	  <td>Pilocarpus
	  microphyllus Stapf ex Wardl</td>
	  <td>jaborandi-legítimo,
	  jaborandi-do-maranhão</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Rutaceae</td>
	  <td>Pilocarpus
	  trachylophys Holmes</td>
	  <td>jaborandi-do-ceará,
	  arruda-do-mato</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Leguminosae</td>
	  <td>Pithecellobium
	  recemosum Ducke.</td>
	  <td>angelim-rajado,
	  ingarana</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr>
	  <td
	  >Sapotaceae</td>
	  <td>Pouteria
	  psammophila var. xestophylla (Miq. et Eichl.) Baehni</td>
	  <td>&nbsp;</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Gentianaceae</td>
	  <td>Prepusa
	  hookeriana Gardner</td>
	  <td>cravina-do-campo</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Anacardiaceae</td>
	  <td>Schinopsis
	  brasiliensis var. glabra Engl</td>
	  <td>brauna,
	  baraúna</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Simaroubaceae</td>
	  <td>Simarouba
	  floribunda St. Hil</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	 </tr>
	 <tr >
	  <td
	  >Simaroubaceae</td>
	  <td>Simarouba
	  suaveolensis St. Hill</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	 </tr>
	 <tr >
	  <td
	  >Leguminosae</td>
	  <td>Swartzia
	  glazioviana (Taubert) Glaziou</td>
	  <td>&nbsp;</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Meliaceae</td>
	  <td>Swietenia
	  macrophylla King</td>
	  <td>mogno,
	  águano, araputangá, caoba, cedroaraná</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr>
	  <td
	  >Leguminosae</td>
	  <td>Torresea
	  acreana Ducke</td>
	  <td>cerejeira,
	  cumaru-de-cheiro, imburana-de-cheiro</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr>
	  <td
	  >Myristicaceae</td>
	  <td>Virola
	  surinamensis Warb</td>
	  <td>ucuuba,
	  ucuuba-cheirosa, ucuuba-branca</td>
	  <td>Vulnerável</td>
	 </tr>
	 <tr >
	  <td
	  >Leguminosae</td>
	  <td>Vouacapoua
	  americana Aubl</td>
	  <td>acapu</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Vriesea
	  biguassuensis Reitz</td>
	  <td>gravatá,
	  monjolinha, bromélia</td>
	  <td>Indeterminada</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Vriesea
	  brusquensis Reitz</td>
	  <td>gravatá,
	  monjola, bromélia</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Vriesea
	  mulleri Mez</td>
	  <td>gravatá</td>
	  <td>Rara</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Vriesea
	  pinottii Reitz.</td>
	  <td>gravatá,
	  monjola, bromélia</td>
	  <td>Em
	  perigo</td>
	 </tr>
	 <tr >
	  <td
	  >Bromeliaceae</td>
	  <td>Vriesea
	  triangularis Reitz</td>
	  <td>gravatá,
	  monjolinha, bromélia</td>
	  <td>Indeterminada</td>
	 </tr>
</table>

<table width="98%" border="0" cellspacing="0" align="center" class="list">
	<tr  class="list">
		<td >
			<p>&nbsp;</p>

			<p align="center">
				<i>
					Fonte: IBAMA
				</i>
			</p>
			<p>&nbsp;</p>

		</td>
	</tr>
</table>



</body>

</html>
