<h3>Árvore - Como Plantar</h3>


Teste<br>
<%= params[:id] %>

		<p>
			Antes de plantar sua muda, é necessário saber qual o melhor local para ela. <br>
			Algumas espécies, em seu habitat natural, não aceitam sol, enquanto outras, não aceitam sombra.
			Algumas tem preferências por locais úmidos, enquanto outras por locais áridos. <br>
			Para você saber a preferência de cada espécie, vá até a nossa lista de espécies e aprenda tudo sobre
			a árvore que deseja plantar.
		</p>
		<p>
			O sucesso do plantio está muito mais ligado às condições de Luz, Umidade e Solo, do que à técnica aplicada
			no momento do plantio.<br>
			Porém, alguma regras devem ser respeitadas na hora de plantar.
		</p>
		<p>
			<b>Espaçamento</b><br>
			- Deve-se fazer as covas com um espaçamento de no mínimo, 3m entre elas. Isso é para respeitar o crescimento das copas. <br>
		</p>
		<p>
			<b>Tamanho da cova</b><br>
			<i>Varia de acordo com o tamanho da muda. Para mudas acima de 1,80m:</i><br>
			- 60cm de profundidade <br>
			- Caso o solo estiver fofo, 60cm largura. <br>
			- Caso o solo estiver muito compacto, faça uma cova cônica de 1m na superfície, 50cm no fundo.
		</p>
		<p>
			<b>Adubação</b><br>
			<i>A adubação pode variar com a espécie. O importante a observar é que a adubação no momento do plantio, serve
			para que a muda enraíze mais facilmente no novo local.</i><br>
			- 100g de NPK (04-14-08 ou 10-10-10)<br>
			- 300g de calcário<br>
			- 300g de super Fosfato Simples ou Kg de Fosfato de Araxá<br>
			- 20 litros de esterco de gado, curtido, ou de composto orgânico; ou 7 litros de esterco de galinha ou de húmus de minhoca.
		</p>
		<p>
			<b>Preparo da cova</b><br>
			- Pulverizar 1/3 (100g) de calcário nas laterais e fundo da cova. <br>
			- Misturar o restante do calcário e os adubos à terra da própria cova ou, se preferir, substitui-la por terra vegetal.
		</p>
		<p>
			<?PHP
			  echo"<IMG SRC='$patch_img"."arvore_como_plantar_estaca.jpg' align='left'> ";
			?>
			<b>Plantio</b><br>
			- Retirar a embalagem da muda com cuidado para não desmanchar o torrão<br>
			- Cobrir o fundo da cova com terra misturada até que o torrão fique nivelado com o chão.<br>
			- Colocar a muda dentro da cova, bem na vertical, observando a altura do torrão com relação ao solo.<br>
			- Colocar uma estaca de madeira de 2,50m de altura rente à muda. Afundar até o fundo da cova.
			- Completar a cova com terra misturada e pisar a terra em volta da muda para firmá-la no chão, de forma a não cobrir o caule com terra.<br>
			- Fazer uma vala em torno da muda, com o mesmo tamanho da cova, para captar água<br>
			- Regar abundantemente mas sem encharcar.
		</p>
		<p>
			<?PHP
			  echo"<IMG SRC='$patch_img"."arvore_como_plantar_amarras.jpg' align='right'> ";
			?>
			<b>Amarração</b><br>
			- Amarrar a muda à estaca com: borracha, sisal ou outro material que não fira o caule da muda (Nunca utilize arame !).<br>
			- A amarração pode ser feita em forma de oito deitado, como mostra a figura ao lado.
		</p>
		<p>
			<?PHP
			  echo"<IMG SRC='$patch_img"."arvore_como_plantar_cerca.jpg' align='left'> ";
			?>
			<br>
			<b>Cuidados posteriores</b><br>
			- Se a muda for plantada em local sujeito a depredação, colocar grade de proteção<br>
			- caso não chova, faça irrigação de 4 em 4 dias com aproximadamente 20 litros de água
