
			<P>
			<b>Época de poda.</b>
			<br>
			Em geral a poda deve ser feita após a floração
			</p>

			<p>
			<b>Tipos de Poda </b><br>
			- Poda de Formação: <br>
			Corta-se os ramos baixos, não deixando que se forme galhos antes da planta atingir 2m de altura.
			Essa técnica tem dois motivos. O primeiro é que na natureza a árvore, por competição com outras
			espécies, alcança o sol apenas em determinada altura (geralmente acima de 2m), fazendo com que a
			formação de galhos só ocorra após esta altura.<br>
			O segundo motivo, destina-se à árvores plantadas em passeio público.
			A altura mínima para o galhamento das árvores na
			arborização urbana, é de 1,80m, para não impedir a livre passagem de pedestres.
			</p>

			<P>
			- Poda de Emergência<br>
			Para o caso de estar atrapalhando a Rede Elétrica, casas ou calçadas.
			Neste caso, aconselhamos que antes de pensar na poda, pense em espécies adequadas para o local.
			Este site tem como uma de suas finalidades este conhecimento,
			para que não ocorram mais estes erros, que em suma, representam um desrespeito à Mãe Natureza.
			</p>

			<p>
			<b>Tratamento pós-poda</b>
			<br>
			Se os cortes forem efetuados dentro da técnica recomendada, basta que a árvore esteja saudável
			para que eles cicatrizem naturalmente.<br>
			Os galhos finos apresentam uma cicatrização mais rápida se a superfície de corte ficar lisa.
			Para galhos mais grossos, pode-se fazer o tratamento no local do corte, com substâncias que visam  impedir a ação de agentes nocivos. As substâncias mais utilizadas são: calda bordalesa,
			parafina, mastique e cera de enxerto.
			Nunca use substâncias corrosivas como piche, tintas, graxas ou alcatrão, pois destroem o tecido
			celular da árvore.
			</p>

			<p>&nbsp;</p>

