
			<P>
			<strong>Respeito</strong><br>
				Para poder cuidar bem de uma Árvore, é preciso respeitar suas preferências.
				Para isso, veja em nossa Lista de Espécies, quais são as características de
				cada espécie. Este conhecimento, além de ser um respeito à natureza,
				garante o sucesso de seu plantio.<br>
				Muito cuidado com espécies de Biomas diferentes do local de plantio. Por
				exemplo, querer cultivar Mogno no sul do país, sabendo que esta é endêmica
				da Amazônia, ou mesmo querer plantar o Pinheiro-do-Paraná nos Lençóis
				Maranhenses, definitivamente não seria uma boa idéia.
			</P><P>

			<strong>Exóticas</strong><br>
				Caso a árvore que você escolheu seja uma espécie Exótica, procure por
				espécies Brasileiras que possam substitui-la. Com certeza, na diversidade
				da Fauna Brasileira, alguma espécie lhe servirá.<br>
				A problemática de espécies Exóticas introduzidas no Brasil, está sem
				controle em muitos lugares do Pais. Ajude a não aumentar os números deste
				problema.
			</P><P>

			<strong>Árvore Adulta</strong><br>

				Outro fator importante é conhecer características como altura, raiz, queda
				de folhas, flores, frutos ou mesmo galhos.<br>
				Quando pequena toda árvore é bonita e não incomoda ninguém. Ao crescer, a
				árvore pode soltar muitas folhas e entupir bueiros. Algumas podem
				apresentar frutos muito grandes representando perigo à via pública. Algumas
				espécies tem como característica a formação de copas muito altas,
				atrapalhando a fiação elétrica, e neste crescimento, algumas deixam cair
				galhos mais baixos, um risco em potencial. O fim desta Árvore será igual a
				de muitas outras que foram plantadas sem nenhum conhecimento, e hoje são
				podadas nas formas mais vergonhosas possíveis, ou mesmo a morte.
			</P><P>

			<strong>Preferências</strong><br>
				Escolhida a espécie, saiba sua preferência por solo, luz e água, e escolha
				o local mais apropriado possível.<br>
				Enquanto a muda é pequena, regue regularmente, nos períodos da manhã e a
				tarde. Evite regas à pleno sol, pois a água sob as folhas serve como lente
				de aumento para os raios solares que deixarão marcas. Além do mais, por
				motivos biológicos, a planta não aproveitará esta água, que evaporará.
			</P><P>

			<strong>Consciência</strong><br>
				Assim como nos empenhamos para cuidar de animais domésticos, que outrora já
				foram, em ultima análise, selvagens, temos que nos empenhar o mínimo para
				cuidar de nossas árvores.<br>
				Os tratamentos dados à animais e plantas, são baseados em estudos de sua
				vida em seu Habitat Natural. Portanto, seguindo estes estudos, tudo sairá
				bem. Animais felizes e plantas saudáveis.
			</P><P>
			<strong>Conheça</strong><br>
				Agora, que tal você ir em nossa <I>Lista de Espécies</I> e saber mais sobre
				a muda que deseja comprar ?<br>
				Conheça tudo que puder sobre as espécies que irá plantar.
				Entre em nosso fórum, troque informações e boa sorte !
			</P><P>

			<strong>Dúvidas ?</strong><br>
				Caso tenha alguma dúvida, envie-a para nós que iremos responder com todo o prazer !<BR>
				Para isso, utilize o menu Contato.
			</P><P>

			<center> Árvores Brasil, Plante essa idéia ! </Center>
			</P>
