<h3>Árvore - Porque Plantar</h3>


			<p align="center">
			<i>Aqui estão alguns dos motivos para você plantar não uma, <br>mas várias árvores, e ajudar a natureza!</i>
			</p>
			<p>
			Uma árvore adulta pode absorver do solo até 250 litros de água por dia.
			Imagine como elas poderiam ajudar para não ocorrerem tantas enchentes, das
			quais matam e deixam muitas pessoas sem casas!
			Junto com toda essa água absorvida, muitos nutrientes de matérias orgânicas (como as fezes dos animais)
			são absorvidos pelas raízes e transformados através da fotossíntese, em alimento para a toda a planta.
			Por sua vez, folhas, frutos, madeira e raízes servirão de alimento para diversos seres vivos.
			Os animais por sua vez, irão defecar o que comeram, e as folhas e frutos que não serviram de alimento
			caem no solo.<br>
			Folhas, frutos e fezes de volta ao solo, e todo o ciclo recomeça.
			</p>
			<p>
			A camada de folhas que se formam a baixo das árvores, servem de berço para as sementes, e para proteger
			o solo dos pingos da chuva. Cada pingo de chuva que cai diretamente no solo, causa erosão.
			A erosão do solo pode ser prejudicial em vários casos:
			</p>
			<p>
			<b>Em rios:</b>
				A erosão leva terra e areia para o leito (fundo) do rio, fazendo com que o rio fique mais raso,
				com menor capacidade de guardar água, causando a falta de água nos meses de pouca chuva, além da
				morte dos peixes.
			</p>
			<p>
			<b>Para o Solo:</b>
				A erosão leva embora as sementes que poderiam germinar e recompor a vegetação natural.
				Ou seja, solo desprotegido tende a continuar desprotegido.
			</p>
			<p>
			<b>Para os animais:</b>
				A erosão pode levar embora ninhos de animais que os fazem no chão, e tampar os de diversos
				outros animais, matando os filhotes que estão dentro. Além do mais, sem vegetação e frutos para
				alimenta-los, eles vão embora ou morrem de fome.
			</p>
			<p>
			<b>Para os lençóis freáticos:</b>
				Os solos sem vegetação, por não terem raízes e minhocas para deixa-lo fofo, não tem uma boa absorção
				de água. Além do mais, como não há barreiras para a água, ela vai embora rapidamente,
				não dando tempo para a água da chuva penetrar no solo. Com isso os lençóis freáticos secam,
				acabando assim com muitos rios e conseqüentemente com nossa água potável.
			</p>
			<p>

			A copa das árvores também protege o solo da chuva direta, sem contar que suas raízes seguram firmemente
			o solo. As raízes de árvores que estão nas beira de rios, aparecem as vezes dentro do rio, parecendo cílios.
			Essas raízes além evitarem a erosão, servem de casa para muitos animais. Por causa destes cílios,
			a mata próxima aos rios é conhecida pelo nome de Mata Ciliar.
			</p>
			<p>
			Uma árvore pode transpirar por suas folhas, até 60 litros de água por dia.
			Este vapor se mistura com as partículas de poluição do ar, e quando se acumulam em nuvens, caem em forma
			de chuva. Portanto, as árvores ajudam também na retirada de poluentes do ar!
			Além do mais, este vapor ajuda a equilibrar o clima da região. Isso é facilmente percebido em parques e
			floretas que tem seu clima mais fresco.
			</p>
			<p>
			Outro ponto que podemos notar até mesmo em parques no meio de grandes cidades, é o silêncio!
			As árvores formam uma parede que impede a propagação dos ruídos. Cercas vivas estão sendo muito
			utilizadas hoje em dia para criar ambientes mais silenciosos e aconchegantes (além de bonitos).
			</p>
			<p align="center">
			<i>Se ainda assim, você ainda não se convenceu de que deve plantar árvores <br> espere para saber mais...</i>
			</p>
			<p>
			<b>Sombra:</b> ah que delícia uma boa sombra ! Não é ? Bem, se levarmos em conta a devastação e a não
			preocupação do reflorestamento, pode se preparar para sair de casa de guarda sol, pois a previsão é
			de que em 2030 nossas matas vão acabar !
			</p>
			<p>
			<b>Madeira:</b> Se você não tem nada de madeira na sua casa pode enviar seu nome para colocarmos no
			livro dos recordes. O mercado madereiro é um dos que mais cresce no Brasil.
			Muitas empresas são clandestinas, e pouca gente se preocupou em saber se a madeira que está comprando é
			autorizada ou não. Se você usa madeira, por que não ajudar plantando ?
			</p>
			<p>
			<b>Papel:</b> Não sei se você sabe, mas não há no mundo país que tenha um substituto para o papel vindo da
			madeira de árvores, sendo produzido em larga escala ! Preocupante ? Então imagine quantas árvores você
			já usou e vai usar só com papel !
			</p>
			<p>
			<b>Oxigênio:</b> Você respira ? Bem, pode não conseguir mais daqui alguns anos.
			A poluição gerada pelas grande cidades estão desequilibrando a quantidade de oxigênio no mundo !
			E uma novidade: Estudiosos afirmam que florestas muito antigas, que já atingiram seu equilíbrio,
			produzem a mesma quantidade de gás carbônico (liberado a noite) que a de oxigênio.
			E que florestas jovens, para poder crescer, liberam muito mais oxigênio do que gás carbônico.
			Isso significa que plantar uma árvore é produzir oxigênio !
			</p>
			<p>
			<b>Frutas:</b> Quem não gosta de uma boa fruta ? Mas não pense que elas são produzidas em laboratório.
			Elas chegam à sua mesa, pois árvores às produziram. E se você fizer as contas deve ter gasto com
			frutas o bastante para ter mais de 100 pés de cada fruta que você gosta. Mesmo porque o gasto em se ter
			uma árvore é quase zero.
			</p>
			<p>
			<b>Fauna:</b> Que delícia ouvir o canto dos pássaros logo de manhã ! Pois então !
			Plante uma árvore perto de sua casa e ouça o resultado! Se você estiver em zona rural, ou próximo à
			alguma floresta, ainda poderá receber a visita de diversos animais da fauna brasileira.
			</p>
			<!--
			<p>
			<b>Verde:</b> O verde é uma cor que acalma o ser humano. Muitos são os tons de verde que as folhas podem ter,
			mas todos eles servem de calmante visual. Mais um motivo para você plantar uma árvore dentro ou na
			frente de sua casa.
			</p>
			<p>
			<b>Medicina:</b> Muitas são as espécies arbóreas já utilizadas na medicina e muitas outras com grande potencial
			para este fim. Infelizmente o valor medicinal das plantas está caindo no esquecimento, nos obrigando a
			pagar caro por remédios. E não se espante, mas a maioria dos remédios tem algum produto extraído da natureza.
			</p>
			<p>
			<b>Óleos :</b> Diversos óleos para diversos fins, podem ser extraídos de árvores brasileiras !
			Um dos óleos mais valiosos que podemos citar é o óleo da Copaíba.
			De outras árvores é possível ainda extrair componentes básicos para fazer shampoo, creme e até protetor solar!
			</p>
			<p>
			<b>Corantes:</b> O mais famoso de todos é o corante extraído da madeira do Pau-Brasil, muito utilizado no
			passado para tintura de roupas. Outro corante bastante conhecido é o corante alimentício extraído do Urucum,
			utilizado para corar carnes.
			</p>


			<p align="center">
			<i>E aí ? Convencido de que você precisa plantar várias árvores ?<br> Não ? Então vamos aos números...</i>
			</p>
			-->
			<br>
