<h3>Meio - Corredor Gênico</h3>

<table width="98%" border="0" cellspacing="0" align="center">
	<tr>
		<td class="texto_geral" colspan="3">
			<p>
			<b>Corredor gênico:</b><br>
			Você já deve ter observado trechos de mata nativa em determinadas regiões. Às vezes, podemos notar mais de um fragmento de mata, porém distantes uns dos outros, e entre eles uma porção de terra desmatada.<br>
			Corredor gênico é justamente ligar estes trechos com o plantio de árvores.
			</p>
			<p>
			<b>Para que serve.</b><br>
			Em um trecho de mata isolado, tanto a flora como a fauna reproduz-se, dentro deste pequeno trecho. Com o tempo os cruzamentos de plantas e animais ocorrem entre indivíduos com parentesco muito próximo, ocorrendo o empobrecimento genético.
			</p>
			<p>
			Ao ligar trechos de matas com um corredor de árvores, animais e plantas poderão cruzar com indivíduos de parentesco distantes, aumentando assim a diversidade genética.
			</p>
			<p>
			<b>Para que serve a diversidade genética?</b><br>
			Doenças atacam plantas e animais. Os que sobrevivem passam em seus genes a imunidade a aquela doença. Quanto maior for a troca entre genes nos cruzamentos, maiores são as chances das novas gerações sobreviverem às pragas, e gerarem filhos cada vez mais preparados às novas doenças que também melhoram sua forma de ataque.
			</p>
			<p>
			Por isso é muito importante, quando possível, aplicar a técnica do corredor genético.
			</p>
			<p>
			Em propriedades rurais, a melhoria genética dos fragmentos florestais poderá ajudar também no controle de pragas na produção.
			</p>
			<br>
		</td>
	</tr>

	<tr>
		<td>
			<?PHP
			  echo"<IMG SRC='$patch_img"."corredor_genico1.jpg' align='left'> ";
			?>
		</td>
		<td class="texto_geral" align="center">
			Aplicando a técnica do corredor gênico =>
		</td>
		<td>
			<?PHP
			  echo"<IMG SRC='$patch_img"."corredor_genico2.jpg' align='left'> ";
			?>
		</td>
	</tr>

</table>

