<h3>Meio - Mata Ciliar</h3>


<table width="98%" border="0" cellspacing="0" align="center">
	<tr>
		<td class="texto_geral">
			<b> Recuperação de Matas Ciliares </b><br><br>
			<img src="<? echo $patch_img; ?>mata_ciliar.jpg" border="0" >

			<i>Foto: Ibama</i>
			<br><br>


		</td>
	</tr>

	<tr>
		<td class="texto_geral">
			<p>
			O processo de ocupação do Brasil caracterizou-se pela falta de planejamento e conseqüente destruição dos recursos naturais, particularmente das florestas. Ao longo da história do País, a cobertura florestal nativa, representada pelos diferentes biomas, foi sendo fragmentada, cedendo espaço para as culturas agrícolas, as pastagens e as cidades.
			</p>
			<p>
			A noção de recursos naturais inesgotáveis, dadas as dimensões continentais do País, estimulou e ainda estimula a expansão da  fronteira agrícola sem a preocupação com o aumento ou, pelo menos, com uma manutenção da produtividade das áreas já cultivadas. Assim, o processo de fragmentação florestal é intenso nas regiões economicamente mais desenvolvidas, ou seja, o Sudeste e o Sul, e avança rapidamente para o Centro-Oeste e Norte, ficando a vegetação arbórea nativa representada, principalmente, por florestas secundárias, em variado estado de degradação, salvo algumas reservas de florestas bem conservadas. Este processo de eliminação das florestas resultou num conjunto de problemas ambientais, como a extinção de várias espécies da fauna e da flora, as mudanças climáticas locais, a erosão dos solos e o assoreamento dos cursos d'água.
			</p>
			<p>
			Neste panorama, as matas ciliares não escaparam da destruição; pelo contrário, foram alvo de todo o tipo de degradação. Basta considerar que muitas cidades foram formadas às margens de rios, eliminando-se todo tipo de vegetação ciliar; e muitas acabam pagando um preço alto por isto, através de inundações constantes.
			</p>
			<p>
			Além do processo de urbanização, as matas ciliares sofrem pressão antrópica por uma série de fatores: são as áreas diretamente mais afetadas na construção de hidrelétricas; nas regiões com topografia acidentada, são as áreas preferenciais para a abertura de estradas, para a implantação de culturas agrícolas e de pastagens; para os pecuaristas, representam obstáculos de acesso do gado ao curso d'água etc.
			</p>
			<p>
			Este processo de degradação das formações ciliares, além  de desrespeitar a legislação, que torna obrigatória a preservação das mesmas, resulta em vários problemas ambientais. As matas ciliares funcionam como filtros, retendo defensivos agrícolas, poluentes e sedimentos que seriam transportados para os cursos d'água, afetando diretamente a quantidade e a qualidade da água e conseqüentemente a fauna aquática e a população humana. São importantes também como corredores ecológicos, ligando fragmentos florestais e, portanto, facilitando o deslocamento da fauna e o fluxo gênico entre as populações de espécies animais e vegetais. Em regiões com topografia acidentada, exercem a proteção do solo contra os processos erosivos.
			</p>
			<p>
			Apesar da reconhecida importância ecológica, ainda mais evidente nesta virada de século e de milênio, em que a água vem sendo considerada o recurso natural mais importante para a humanidade, as florestas ciliares continuam sendo eliminadas cedendo lugar para a especulação imobiliária, para a agricultura e a pecuária e, na maioria dos casos, sendo transformadas apenas em áreas degradadas, sem qualquer tipo de produção.
			</p>
			<p>
			É necessário que as autoridades responsáveis pela conservação ambiental adotem uma postura rígida no sentido de preservarem as florestas ciliares que ainda restam, e que os produtores rurais e a população em geral seja conscientizada sobre a importância da conservação desta vegetação. Além das técnicas de recuperação propostas neste trabalho, é fundamental a intensificação de ações na área da educação ambiental, visando conscientizar tanto as crianças quanto os adultos sobre os benefícios da conservação das áreas ciliares.
			</p>
			<p>
			A definição de modelos de recuperação de matas ciliares, cada vez mais aprimorados, e de outras áreas degradadas que possibilitam, em muitos casos, a restauração realativamente rápida da cobertura florestal e a proteção dos recursos edáficos e hídricos, não implica que novas áreas possam ser degradadas, já que poderiam ser recuperadas. Pelo contrário, o ideal é que todo tipo de atividade antrópica seja bem planejada, e que principalmente a vegetação ciliar seja poupada de qualquer forma de degradação.
			</p>
			<p>
			As matas ciliares exercem importante papel na proteção dos cursos d'água contra o assoreamento e a contaminação com defensivos agrícolas, além de, em muitos casos, se constituírem nos únicos remanescentes florestais das propriedades rurais sendo, portanto, essenciais para a conservação da fauna. Estas peculiaridades conferem às matas ciliares um grande aparato de leis, decretos e resoluções visando sua preservação.
			</p>
			<p>
			O novo Código Florestal (Lei n.° 4.777/65) desde 1965 inclui as matas ciliares na categoria de áreas de preservação permanente. Assim toda a vegetação natural (arbórea ou não) presente ao longo das margens dos rios e ao redor de nascentes e de resevatórios deve ser preservada.
			</p>
			<p>
			De acordo com o artigo 2° desta lei, a largura da faixa de mata ciliar a ser preservada está relacionada com a largura do curso d'água. A tabela apresenta as dimensões das faixas de mata ciliar em relação à largura dos rios, lagos, etc.
			</p>
			<p>

			  <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">

				  <tr>
					<td bgcolor="#000000" class="texto_geral">
						<table width="100%" border="0" cellpadding="2" cellspacing="1" class="texto_geral">
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									<b>Situação</b>
								</td>
								<td width="50%" align="center">
									<b>Largura Mínima da Faixa</b>
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Rios  com menos de 10 m de largura
								</td>
								<td width="50%" align="center">
									30 m em cada margem
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Rios  com 10 a 50 m de largura
								</td>
								<td width="50%" align="center">
									50 m em cada margem
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Rios  com 50 a 200 m de largura
								</td>
								<td width="50%" align="center">
									100 m em cada margem
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Rios  com 200 a 600 m de largura
								</td>
								<td width="50%" align="center">
									200 m em cada margem
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Rios  com largura superior a 600 m
								</td>
								<td width="50%" align="center">
									500 m em cada margem
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Nascentes
								</td>
								<td width="50%" align="center">
									Raio de 50 m
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Lagos ou resevatórios em áreas urbanas
								</td>
								<td width="50%" align="center">
									30 m ao redor do espelho d'água
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Lagos ou reservatórios em zona rural, com área menor que 20 ha
								</td>
								<td width="50%" align="center">
									50 m ao redor do espelho d'água
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Lagos ou reservatórios em zona rural, com área igual ou superior a 20 ha
								</td>
								<td width="50%" align="center">
									100 m ao redor do espelho d'água
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td width="50%"align="center">
									Represas de hidrelétricas
								</td>
								<td width="50%" align="center">
									100 m ao redor do espelho d'água
								</td>
							</tr>

						</table>

					</td>
				</tr>

			</table>
			<p></p>

			Um ecossistema torna-se degradado quando perde sua capacidade de recuperação natural após distúrbios, ou seja, perde sua resiliência. Dependendo da intensidade do distúrbio, fatores essenciais para a manutenção da resiliência como, banco de plântulas e de sementes no solo, capacidade de rebrota das espécies, chuva de sementes, dentre outros, podem ser perdidos, dificultando o processo de regeneração natural ou tornando-o extremamente lento.
			</p>
			<p>
			Uma floresta ciliar está sujeita a distúrbios naturais como queda de árvores, deslizamentos de terra, raios etc., que resultam em clareiras, ou seja, aberturas no dossel, que são cicatrizadas através da colonização por espécies pioneiras seguidas de espécies secundárias.
			</p>
			<p>
			Distúrbios provocados por atividades humanas têm, na maioria das vezes, maior intensidade do que os naturais, comprometendo a sucessão secundária na área afetada. As principais causas de degradação das matas  ciliares são o desmatamento para extensão da área cultivada nas propriedades rurais, para expansão de áreas urbanas e para obtenção de madeira, os incêndios, a extração de areia nos rios, os empreendimentos turísticos mal planejados etc.
			</p>
			<p>
			Em muitas áreas ciliares, o processo de degradação é antigo, tendo iniciado com o desmatamento para transformação da área em campo de cultivo ou em pastagem. Com o passar do tempo e, dependendo da intensidade de uso, a degradação pode ser agravada através da redução da fertilidade do solo pela exportação de nutrientes pelas culturas e, ou, pela prática da queima de restos vegetais e de pastagens, da compactação e da erosão do solo pelo pisoteio do gado e pelo trânsito de máquinas agrícolas.
			</p>
			<p>
			O conhecimento dos aspectos hidrológicos da área é de suma importância na elaboração de um projeto de recuperação de mata ciliar. A menor unidade de estudo a ser adotada é a microbacia hidrográfica, definida como aquela cuja área é tão pequena que a sensibilidade a chuvas de alta intensidade e às diferenças de uso do solo não seja suprimida pelas características da rede de drenagem. Em nível de microbacia hidrográfica é possível identificar a extensão das áreas que são inundadas periodicamente pelo regime de cheias dos rios e a duração do período de inundação.
			</p>
			<p>
			Estas informações são extremamente importantes na seleção das espécies a serem plantadas, já que muitas espécies não se adaptam a condições de solo encharcado, ao passo que outras só sobrevivem nestas condições.
			</p>
			<p>
			Fonte resumida: Recuperação de matas ciliares. Sebastião Venâncio Martins. Editora Aprenda Fácil. Viçosa - MG, 2001.
			</p>

			<p>&nbsp;</p>

		</td>
	</tr>

	<tr>
		<td class="texto_geral">

			<a href="?pg=reflorestamento_mata_ciliar_tecnicas"> 	Técnicas de Recuperação de Mata Ciliar </a>
			<br>
			<a href="?pg=reflorestamento_mata_ciliar_indicadores">	Indicadores de Recuperação </a>

			<p align="center">
				<i>
					www.AmbienteBrasil.com.br
				</i>
			</p>

			<br>

			<?PHP
				echo"<a href=\"$patch_doc"."mata_ciliar_jornal_sma.zip\" > ";
				echo"<img alt=\"Ler\" src=\"$patch_img"."livro_aberto_verde.gif\" border=\"0\" align=\"absmiddle\" hspace=\"0\">";
			  	echo"</a> Jornal da Secretaria do Meio Ambiente" ;
			?>


		</td>
	</tr>

</table>


