<h3>Meio - Biomas</h3>

<table width="98%" border="0" cellspacing="0" align="center">

	<tr>
		<td class="texto_geral">
			Um dos países de natureza mais rica e maior biodiversidade do mundo, o Brasil possui as maiores reservas de água doce e um terço das florestas tropicais que ainda restam. Estima-se que aqui está 1 em cada 10 espécies de plantas ou animais existentes.
			</p>
			<p>
			Infelizmente, esses recursos naturais têm sido explorados de forma irracional, sem um modelo de crescimento que proteja e utilize o patrimônio natural brasileiro de forma equilibrada.
			<br>
			<i>Fonte: WWF-Brasil </i>
			<br>
			<br>
		</td>
	</tr>

	<tr>
		<td class="texto_geral" align="center">
			Click nos biomas, e conheça um pouco mais sobre cada um deles.<br>
		</td>
	</tr>

	<tr>
		<td class="texto_geral">
			<p>
			<?PHP
			  echo"<center><IMG SRC='$patch_img"."bioma_brasil.jpg' border='1' usemap='#Biomas'></center><p></p>";
			?>
			<map name="Biomas">
									  <!-- hin,vi,vfi,hf                 -->
				<area shape="rect" coords="130,108,291,166" href="?pg=bioma_amazonia" alt="Amazônia">
				<area shape="rect" coords="337,54,463,121" href="?pg=bioma_zona_costeira" alt="Costeiro">
				<area shape="rect" coords="341,140,502,209" href="?pg=bioma_caatinga" alt="Caatinga">
				<area shape="rect" coords="265,212,397,269" href="?pg=bioma_cerrado" alt="Cerrado">
				<area shape="rect" coords="162,277,323,327" href="?pg=bioma_pantanal" alt="Pantanal">
				<area shape="rect" coords="218,341,359,399" href="?pg=bioma_mata_atlantica" alt="Mata Atlântica">
				<area shape="rect" coords="205,415,342,476" href="?pg=bioma_campos_sulinos" alt="Campos Sulinos">
			</map>

			</p>
			<a href="http://www.ibama.gov.br" target="_blank">
			<center> <i>Fonte: Ibama </i> <center>
			</a>
		</td>
	</tr>
</table>


