<h3>Meio - Sequestro de Carbono</h3>


<table width="98%" border="0" cellspacing="0" align="center">
	<tr>
		<td class="texto_geral">


			<b>Conceito</b>
			<p>
			O conceito de seqüestro de carbono foi consagrado pela Conferência de Kyoto, em 1997, com a finalidade de conter e reverter o acúmulo de CO2 na atmosfera , visando a diminuição do efeito estufa.
			A conservação de estoques de carbono nos solos, florestas e outros tipos de vegetação, a preservação de florestas nativas, a implantação de florestas e sistemas agroflorestais e a recuperação de áreas degradadas são algumas ações que contribuem para a  redução da concentração do CO2 na atmosfera.
			Os resultados do efeito Seqüestro de Carbono podem ser quantificados através da estimativa da biomassa da planta acima e abaixo do solo, do cálculo de carbono estocado nos produtos madeireiros e pela quantidade de CO2  absorvido no processo de fotossíntese.
			Para se proceder à avaliação dos teores de carbono dos diferentes componentes da vegetação (parte aérea, raízes, camadas decompostas sobre o solo, entre outros) e, por conseqüência, contribuir para estudos de balanço energético e do ciclo de carbono na atmosfera, é necessário, inicialmente, quantificar a biomassa vegetal de cada componente da vegetação.
			</p>


			<b>História </b>

			<p>
			As  Mudanças Climáticas Globais (MCG)  representam um dos maiores desafios da humanidade. Pois, além de serem um problema global - como o próprio nome diz, envolve vários setores da sociedade, necessita de uma tomada de consciência da importância da questão e exige mudanças em muitos hábitos de consumo e comportamento.
			</p>
			<p>
			As crescentes emissões de Dióxido de Carbono (CO2 ) e outros gases como o metano ( CH4 ) e o óxido nitroso  (NO2 ) na atmosfera têm causado sérios problemas, como o efeito estufa. Devido à quantidade com que é emitido, o  CO2 é o gás que mais contribui para o aquecimento global. Suas emissões representam aproximadamente 55% do total das emissões mundiais de gases do efeito estufa. O tempo de sua permanência na atmosfera é, no mínimo, de 100 anos. Isto significa que as emissões de hoje têm efeitos de longa duração, podendo resultar em impactos no regime climático, ao longo dos séculos. Evidências científicas apontam que  caso  a concentração de CO2  continue crescendo, a temperatura média da terra vai aumentar (entre 1,4 e 5,8 ° C até 2100), causando aumento no nível dos mares, efeitos climáticos extremos (enchentes, tempestades, furacões e secas), alterações na variabilidade de eventos hidrológicos (aumento do nível do mar, mudanças no regime das chuvas, avanço do mar sobre os rios, escassez de água potável)  e colocando em risco a vida na terra (ameaça à biodiversidade, à agricultura, à saúde e bem-estar da população humana).
			</p>
			<p>
			Historicamente, os países industrializados têm sido responsáveis pela maior parte das emissões de gases de efeito estufa. Contudo, na atualidade, vários países em desenvolvimento, entre eles China, Índia e Brasil, também se encontram entre os grandes emissores. No entanto, numa base per capita, os países em desenvolvimento continuam tendo emissões consideravelmente mais baixas do que os países industrializados.
			</p>
			<p>
			Estima-se que, em 1998, o Brasil tinha emitido, pelo menos 285 milhões de toneladas de carbono, das quais cerca de 85 milhões resultaram da queima de combustíveis fósseis (71% do uso de combustíveis líquidos e 15,6% da queima de carvão mineral, 4% de gás natural). Esse número é relativamente  baixo quando comparado às emissões provenientes da queima de combustíveis fósseis de outros países. Isto é devido ao fato de que a matriz energética brasileira é considerada relativamente limpa pelos padrões internacionais uma vez que se baseia na energia hidrelétrica (renovável). A maior parte das emissões do Brasil (2/3) provém de atividades de uso da terra, tais como o desmatamento e as queimadas, o que, atualmente, representa 3% das emissões globais.
			</p>
			<p>
			As nações participantes da Convenção de Mudança Climática, que ocorreu em junho de 1992 na cidade do Rio de Janeiro, se comprometeram a ratificar uma  convenção afim de criar mecanismos que diminuíssem as emissões dos gases causadores do efeito estufa. Estes mecanismos dizem respeito à capacidade de as fontes de energia emitirem baixos níveis dos gases causadores do efeito estufa, e também as alternativas para absorção de CO2, através dos projetos de seqüestro de carbono.
			</p>
			<p>
			Desta forma, os países desenvolvidos e as indústrias criaram uma nova utilidade e um novo mercado para o carbono,  que consiste no carbono capturado e mantido pela vegetação. O interesse e o investimento no seqüestro de carbono e a comercialização de créditos de carbono são a forma através da qual estas indústrias e os países industrializados podem equilibrar suas emissões e mantê-las a níveis seguros.  As normas e regras de comercialização e as  quantidades de carbono retidas pela vegetação ainda não são totalmente conhecidas e estabelecidas, ressaltando assim  a importância dos projetos de pesquisa desenvolvidos nesta área.
			</p>



			<b>Problemas do Aquecimento Global </b>
			<p>
			A queima de combustíveis fósseis e o desmatamento emitem grandes quantidades de gases, em especial o CO2 na atmosfera. Este gás absorve bem a radiação terrestre. Quando ocorre o aumento deste gás, ocorre o aumento da temperatura e da quantidade de vapor de água na atmosfera, ocorrendo aquecimento da superfície terrestre.
			As plantas verdes absorvem CO2 durante a fotossíntese, mas atualmente tem sido liberada uma quantidade de gás maior que a capacidade de absorção  das plantas. O CO2 acumulado na atmosfera bloqueia a saída de radiação quente para o espaço e manda de volta esta radiação aquecida, causando o chamado Efeito Estufa. Emissões de metano, óxido de nitrogênio e os clorofluorcarbonetos (CFC's) também contribuem para o efeito estufa.
			Os países industrializados são responsáveis por cerca de 71% da emissão global de CO2. Os países em desenvolvimento, com 80% da população mundial, produzem aproximadamente 18% da emissão total.
			Os maiores efeitos do aquecimento global considerados por alguns cientistas são: os efeitos que a mudança climática causará na produção mundial de alimentos, mudanças na agricultura  e a venda de commodities (o que poderá modificar a estrutura do comércio mundial).
			</p>



			<b>O Ciclo de Carbono e as Florestas </b>
			<p>
			O Ciclo do Carbono consiste na transferência do carbono na natureza, através das várias reservas naturais existentes, sob a forma de dióxido de carbono.   Para equilibrar o processo de respiração, o carbono é transformado em dióxido de carbono. Outras formas de produção de dióxido de carbono são através das queimadas e da decomposição de material orgânico no solo.  Os processos envolvendo fotossíntese nas plantas e árvores funcionam de forma contrária. Na presença da luz, elas retiram o dióxido de carbono, usam o carbono para crescer e retornam o oxigênio para atmosfera. Durante a noite, na transpiração, este processo inverte, e a planta libera CO2 excedente do processo de fotossíntese.
			Os reservatórios de CO2 na terra e nos oceanos são maiores que o total de CO2 na atmosfera. Pequenas mudanças nestes reservatórios podem causar grandes efeitos na concentração atmosférica. O carbono emitido para atmosfera não é destruído, mas sim  redistribuído entre diversos reservatórios de carbono, ao contrário de outros gases causadores do efeito estufa, que normalmente são destruídos por ações químicas na atmosfera.
			A escala de tempo de troca de reservas de carbono pode variar de menos de um ano a décadas, ou até mesmo milênios. Este fato indica que a perturbação  atmosférica causada pela concentração do CO2 para que possa voltar ao equilíbrio não pode ser definido ou descrito através de uma simples escala de tempo constante. Para ter-se alguns parâmetros científicos, a estimativa de vida para o dióxido de carbono atmosférico é definida em aproximadamente cem anos. A utilização de uma escala simples pode criar interpretações errôneas.
			A redução do desmatamento poderá contribuir muito consideravelmente para a redução do ritmo de aumento dos gases causadores do efeito estufa, possibilitando outros benefícios, como a conservação dos solos e da biodiversidade. Esta redução do desmatamento deve estar associada a alternativas econômicas, para garantir a qualidade de vida das populações das regiões florestais.
			</p>


			<b>Valores Econômicos Associados ao Seqüestro de Carbono </b>
			<p>
			No  Protocolo de Kyoto foi estabelecido que os países desenvolvidos comprometeram-se formalmente a reduzir suas emissões de gases para atenuar o efeito estufa em 5% abaixo dos níveis de1990 com o objetivo para o período 2008 - 2012. Tal ação significa a redução de centenas de milhões de toneladas por ano, com um custo enorme para estas economias. Espera-se que estes países, por sua vez, repassem os comprometimentos aos seus respectivos setores industriais, através da criação de impostos sobre emissões de gases causadores do efeito estufa. Estes setores deverão encontrar alternativas de se adaptar aos novos custos de produção ou aos limites de emissões.
			O segundo ponto importante do protocolo é que será aceito o conceito de comercialização de créditos de seqüestro ou redução de gases causadores do efeito estufa. Sendo assim, os países ou empresas que reduzirem as emissões abaixo de suas metas poderão vender este crédito para outro país ou empresas que não atingiram o grau de redução esperado.
			Um terceiro ponto do acordo diz respeito aos métodos aceitos para realizar as reduções das emissões. Geralmente, os métodos preferidos por vários países são baseados em processos para melhoria da eficiência na utilização e na transmissão de energia, processos industriais e sistema de transporte. Outra alternativa é a substituição de combustíveis muito poluentes (carvão mineral ou diesel) por outros combustíveis menos ricos em carbono. O protocolo também considera a absorção de  CO2 pela vegetação como um método para compensar as emissões, sendo um ponto interessante para países com aptidão florestal, pois também pode gerar outros recursos do setor florestal, trazendo conseqüências de ordem econômica, ambiental e social.
			</p>
			<p>
			As metas de redução de emissões de  CO2 , deverão ser alcançadas principalmente através de políticas públicas e regulamentações que limitem emissões diretamente, ou que criem incentivos para melhor eficiência dos setores energético, industrial e de transporte, e que promovam maior uso de fontes renováveis de energia. Dentre as metas, os países do Anexo I (países desenvolvidos) poderão abater uma porção de suas metas por meio dos seus sumidouros, especificamente as florestas.
			</p>
			<p>
			Além das ações de caráter nacional, os países poderão cumprir parte de suas metas de redução através dos três mecanismos de flexibilização estabelecidos pelo Protocolo de Kyoto e que estão descritos a seguir:
			<br>
			- Comércio de emissões: este mecanismo permite que dois países sujeitos a  metas de redução de emissões (países do Anexo I) façam um acordo pelo qual o país A, que tenha diminuído suas emissões para níveis abaixo da sua meta, possa vender o excesso das suas reduções para o país B, que não tenha alcançado tal condição.
			</p>
			<p>
			- Implementação conjunta: permitido entre os países do Anexo I, onde um país A implementa projetos que levem à redução de emissões em um país B, no qual os custos com a redução sejam mais baixos.
			</p>
			<p>
			- Mecanismo de Desenvolvimento Limpo (MDL): os países do Anexo I poderão desenvolver projetos que contribuam para o desenvolvimento sustentável de países em desenvolvimento (não pertencentes ao Anexo I) de modo a ajudar na redução de suas emissões. Essas iniciativas gerariam créditos de redução para os países do Anexo I, e ao mesmo tempo ajudariam os países em desenvolvimento, pois estes se beneficiariam de recursos financeiros e tecnológicos adicionais para financiamento de atividades sustentáveis e da redução de emissões globais. Ressalta-se que as reduções obtidas deverão ser adicionais a quaisquer outras que aconteceriam sem a implementação das atividades do projeto. Os projetos também deverão oferecer benefícios reais, mensuráveis e a longo prazo para mitigação do aquecimento global. É interessante observar que há possibilidade de utilizar as reduções certificadas de emissões obtidas durante o período 2000 - 2008 para auxiliar no cumprimento da redução estabelecida durante o período 2008 - 2012.
			</p>
			<p>
			O financiamento de atividades sustentáveis pelo MDL levaria a menos dependência de combustíveis fósseis nos países em desenvolvimento e, portanto, a menos emissões a longo prazo. Os projetos MDL poderão ser implementados nos setores energético, de transporte e florestal. Dentro do setor florestal, projetos de florestamento e reflorestamento poderão participar. No entanto, projetos que visam a redução do desmatamento e queimadas ou a conservação de florestas estão excluídos deste mecanismo até o momento.
			</p>
			<p>
			Nos países em desenvolvimento, os custos relacionados à implementação de projetos que diminuam emissões de gases de efeito estufa são, em geral, menores do que nos países desenvolvidos. Isto torna o MDL atrativo para aqueles pertencentes ao Anexo I. Além disso, o MDL busca incentivar o desenvolvimento sustentável, levando à criação de novos mercados que valorizam a redução de emissões de gases de efeito estufa, e criando oportunidades para a transferência de tecnologia e novos recursos para países em desenvolvimento, como o Brasil. Mesmo assim, as expectativas são de que o MDL seja o menos utilizado dos mecanismos de flexibilização. Isso se deve ao fato dos Estados Unidos, maior investidor em potencial dos mecanismos, terem anunciado que não pretendem ratificar o Protocolo de Kyoto antes de 2012, o que provoca uma diminuição da demanda por métodos alternativos para a redução de emissões por países do Anexo I.
			</p>
			<p>
			O Brasil poderá se beneficiar do MDL tanto com projetos nos setores energético, de transporte e florestal. Exemplos de projetos no setor energético são: implementação de sistema de energia solar, eólica, co-geraçao através de processos químicos e de aproveitamento de biomassa. No setor florestal, pode-se falar em projetos de "florestamento" e reflorestamento, os quais permitem que o carbono, pelo crescimento das árvores, seja removido da atmosfera. Assim, a floresta plantada atuaria como um sumidouro de carbono ou promoveria, como tem sido usado, o "seqüestro de carbono".  Esse seqüestro é possível porque a vegetação realiza a fotossíntese, processo pelo qual as plantas retiram carbono da atmosfera, em forma de  CO2 ,  e o incorporam a sua biomassa (troncos, galhos e raízes). Exemplos de tais projetos são o reflorestamento, a silvicultura e o enriquecimento de florestas degradadas.
			</p>
			<p>
			Como a maior parte das emissões de CO2  do Brasil provêm de desmatamentos e queimadas, a maior contribuição do Brasil para a redução de emissões seria através da mitigação e do controle do desmatamento e queimadas.
			</p>



			<b>Mercado de Carbono </b>
			<p>
			Desde a convenção de Kyoto quando mais de 160 países discutiram as mudanças climáticas no planeta, verifica-se que esta preocupação saiu dos cadernos de ciência dos grandes jornais, alojando-se nas páginas de finanças e negócios.
			As preocupações como o meio ambiente se tornaram preocupações econômicas. O valor econômico da proteção ao meio ambiente surgiu quando os países se comprometeram a cortar, em média, 5,2% de emissões de dióxido de carbono sobre os valores registrados em 1990, com prazo até 2005.
			</p>
			<p>
			A tributação foi a primeira idéia para a formalização do controle econômico sobre a poluição, mas isto afetaria a relação do custo/benefício no setor de produção ou elevaria o custo final ao consumidor. Assim,  para que fossem alcançados os parâmetros globais de poluição, surgiu outro conceito, ou seja, os países poderiam negociar direitos de poluição entre si.
			Um país com altos níveis de emissão de gases na atmosfera poderia pagar a outro país que estivesse com os níveis de poluição abaixo do limite comprometido.
			</p>
			<p>
			A partir de então, além da idéia global da comercialização dos limites de poluição, muitas empresas começaram a sondar tal mercancia.
			</p>
			<p>
			Nos EUA, já encontramos legislação específica sobre a emissão de poluentes. O órgão ambiental americano - Environment Protection Agency - emite direitos para a emissão de volumes de poluição, títulos que simbolizam os limites de poluição que determinada empresa deve cumprir no ano. A cada ano tais limites sofrem reduções.
			</p>
			<p>
			Caso esta empresa obtenha sucesso na redução anual, poluindo menos do que o limite estabelecido, ela terá um saldo que poderá ser comercializado no mercado com outras empresas que não conseguiram cumprir o limite ''materializado'' pelos títulos adquiridos.
			</p>
			<p>
			Com a valorização econômica, a fiscalização e todos os demais custos operacionais para a redução da poluição acabam sendo arcados pelo mercado de commoditties, não repassando o impacto financeiro para a relação custo/benefício ou para o custo final. Esta é a maneira mais econômica e eficaz para a fiscalização e a diminuição da poluição. Dentro deste contexto econômico, o Brasil se encontra em uma posição extremamente valorizada, já que possui um amplo espaço ambiental. Desta forma, as empresas e os países altamente industrializados, obrigadas a frearem o aquecimento do planeta, reduzindo a emissão de gases, poderão participar de projetos de reflorestamento, adoção de tecnologias limpas, etc.
			</p>
			<p>
			O Brasil tem no meio ambiente a sua maior riqueza. A preservação ambiental pode ser a origem da entrada de divisas no País. O Brasil receberia pela sua baixa emissão de gases, receberia pela enorme capacidade ambiental de absorção e regeneração atmosférica.
			</p>

			<center><i>Fonte - www.ambientebrasil.com.br<i></center>

			<p>&nbsp;</p>

		</td>
	</tr>
</table>
