<h3>Meio - Protocolo de Quioto</h3>

<table width="98%" border="0" cellspacing="0" align="center">
	<tr>
		<td class="texto_geral">

			<b>Introdução </b>
			<p>
			Quando adotaram a Convenção-Quadro das Nações Unidas sobre Mudança do Clima, em
			1992, os governos reconheceram que ela poderia ser a propulsora de ações mais enérgicas no
			futuro. Ao estabelecer um processo permanente de revisão, discussão e troca de informações, a
			Convenção possibilita a adoção de compromissos adicionais em resposta a mudanças no
			conhecimento científico e nas disposições políticas.
			</p>
			<p>
			A primeira revisão da adequação dos compromissos dos países desenvolvidos foi conduzida,
			como previsto, na primeira sessão da Conferência das Partes (COP-1), que ocorreu em Berlim, em
			1995. As Partes decidiram que o compromisso dos países desenvolvidos de voltar suas emissões
			para os níveis de 1990, até o ano 2000, era inadequado para se atingir o objetivo de longo prazo da
			Convenção, que consiste em impedir "uma interferência antrópica (produzida pelo homem)
			perigosa no sistema climático".
			</p>
			<p>
			Ministros e outras autoridades responderam com a adoção do "Mandato de Berlim" e com o
			início de um nova fase de discussões sobre o fortalecimento dos compromissos dos países
			desenvolvidos. O grupo Ad Hoc sobre o Mandato de Berlim (AGBM) foi então formado para
			elaborar o esboço de um acordo que, após oito sessões, foi encaminhado à COP-3 para negociação
			final.
			</p>
			<p>
			Cerca de 10.000 delegados, observadores e jornalistas participaram desse evento de alto
			nível realizado em Quioto, Japão, em dezembro de 1997. A conferência culminou na decisão por
			consenso (1/CP.3) de adotar-se um Protocolo segundo o qual os países industrializados reduziriam
			suas emissões combinadas de gases de efeito estufa em pelo menos 5% em relação aos níveis de
			1990 até o período entre 2008 e 2012. Esse compromisso, com vinculação legal, promete produzir
			uma reversão da tendência histórica de crescimento das emissões iniciadas nesses países há cerca de
			150 anos.
			</p>
			<p>
			O Protocolo de Quioto foi aberto para assinatura em 16 de março de 1998. Entrará em vigor
			90 dias após a sua ratificação por pelo menos 55 Partes da Convenção, incluindo os países
			desenvolvidos que contabilizaram pelo menos 55% das emissões totais de dióxido de carbono em
			1990 desse grupo de países industrializados. Enquanto isso, as Partes da Convenção sobre Mudança
			do Clima continuarão a observar os compromissos assumidos sob a Convenção e a preparar-se para
			a futura implementação do Protocolo.
			</p>
			<p>&nbsp;</p>

			<?PHP
				echo"<a href=\"$patch_doc"."protocolo_kioto.zip\" > ";
				echo"<img alt=\"Ler\" src=\"$patch_img"."livro_aberto_verde.gif\" border=\"0\" align=\"absmiddle\" hspace=\"0\">";
			  	echo"</a> Protocolo de Quioto completo" ;
			?>

			<p>&nbsp;</p>

			<center > <i>Fonte: Ministério da Ciência e Tecnologia </i> <center>

			<p>&nbsp;</p>

		</td>
	</tr>
</table>

